<div class="container p-3 m-12 justify-content-center">
<div class="card shadow p-5 text-center"> 
    <div class="card-body w-50 m-auto">
       <h5 class="card-title mb-2">Welcome to the Student CRUD Application</h5>
       <h6 class="card-subtitle mb-2 text-muted">
          Please select from below pages
       </h6>
       <div class="row justify-content-center">
         <a routerLink="/register-student"
            class="btn btn-primary mb-2"
            type="submit"
         >
         Register Student</a>
         <a routerLink="/display-student"
           class="btn btn-warning mb-2"
           type="submit"
         >Display Student</a>
       </div>
    </div>
</div>


</div>
